* {
    margin: 0;
    padding: 0;
}

.tabs {
    width: 500px;
    margin: 20px;
    padding: 2px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-family: Georgia, Arial, sans-serif;
}

.headings {
    background-color: #efeded;
}

.heading {
    display: inline-block;
    margin: 7px 1px 0;
    padding: 10px;
    border: 1px solid #89a7b3;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    background-color: #e1daec;
    color: #717171;
    list-style-type: none;
}

.active {
    background-color: #7979af;
    color: #fff;
    box-shadow: 0 0 9px #a99a51;
}

.content {
    padding: 20px;
    border-top: 1px solid #89a7b3;
}

.tab p {
    margin-top: 10px;
}
