* {
    margin: 0;
    padding: 0;
    font-family: Georgia, Arial, sans-serif;
}

/* Tabs */

.tabs {
    display: inline-block;
    margin: 20px;
    padding: 3px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.headings {
    padding: 0 8px;
    border: 1px solid #c8d5da;
    border-radius: 3px;
    background-color: #efeded;
}

.heading {
    display: inline-block;
    margin-top: 7px;
    padding: 10px;
    transition: background-color .1s linear;
    border: 1px solid #89a7b3;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    background-color: #e1daec;
    color: #717171;
    cursor: pointer;
    list-style-type: none;
}

.heading:hover {
    background-color: #ece4da;
}

.active {
    color: #fff;
    box-shadow: 0 0 9px #a99a51;
    cursor: default;
}

.active,
.active:hover {
    background-color: #7979af;
}

.content {
    padding: 20px;
}

.tab {
    display: none;
    line-height: 24px;
}

.paragraph {
    margin-top: 10px;
    line-height: 24px;
}

.indented {
    display: inline-block;
    text-indent: 150px;
}

/* Form */

.form {
    width: 440px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.form > * {
    display: inline-block;
}

textarea {
    border-color: #ddd;
}

.label {
    position: relative;
    width: 100px;
    margin-top: 30px;
    vertical-align: top;
}

.input {
    width: 140px;
    margin-top: 33px;
    margin-right: 175px;
    padding: 5px;
}

.tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 300px;
    width: 120px;
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: .8em;
    box-shadow: 0 0 5px 2px #eee;
    z-index: 1;
}

.button {
    display: block;
    width: 200px;
    margin: 40px auto;
    padding: 3px;
    font-family: Arial, sans-serif;
    font-size: .9em;
}

button[type=submit] {
    display: none;
}
